.footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer span {
    font-size: 1rem;
    font-weight: 400;
}

.second-footer {
    display: flex;
    justify-content: center;
}

.second-footer span {
    font-weight: 200;
    font-size: .9rem;
}
